@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.searchSongs {
  background-color: yellow;
  padding: 7px;
  margin: 5px;
}
.back {
  background-color: red;
}
.sesong {
  background-color: red;
}
.searchForm {
  display: flex;
  flex-direction: row;
}
.searchFormM {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 70px;
}
.searchFormM input {
  font-size: 13px;
}
.msea {
  padding: 10px;
  height: 90vh;
  background-image: url('./Images/7ec111864f7539dce5362ccf235b61a4--app-logo-app-icon-logo.jpg');
}
.search {
  width: 20%;
}
.mobileView {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.splash {
  height: 100vh;
  display: flex;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('./Images/black-background-costume-dark-mode.jpg');
  justify-content: center;
  flex-direction: column;
}
.splashText {
  text-align: center;
  color: black;
}
.logo {
  justify-content: center;
  width: 50px;
  border-radius: 5px;
}
.homePage {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}
.werty {
  display: grid;
  grid-template-areas: 'left right';
  display: flex;
}
.abop {
  margin-top: 50px;
  text-transform: capitalize;
}
.Mabout {
  grid-area: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  width: 25vw;
  margin-left: 300px;
  margin-top: 300px;
  background-color: #f72a34;
  transform: translate(-50%, -50%);
  color: white;
}
.Mabouts {
  grid-area: right;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  margin-left: 300px;
  width: 25vw;
  margin-top: 300px;
  background-color: #f7c52a;
  transform: translate(-50%, -50%);
}
.homePages {
  grid-area: left;
  margin-top: 90px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  transform: skewY(4deg);
  background-color: white;
  width: 25vw;
  margin-left: 150px;
  height: 350px;
}
.UT {
  margin-top: 20px;
  height: 250px;
  padding: 1px;
}
.qwe {
  height: 250px;
  overflow-y: scroll;
}
.UT input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  margin: 5px;
}
.kojt {
  grid-area: right;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  background-color: white;
  width: 25vw;
  height: 500px;
}
.qw {
  grid-area: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  transform: skewY(-4deg);
  background-color: white;
  width: 25vw;
  height: fit-content;
  margin-top: 90px;
  height: 350px;
}
.bt {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.btk {
  margin-top: 20px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.bts {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.jk {
  font-size: 0.9rem;
  color: white;
}
.jks {
  font-size: 0.9rem;
  color: #f7c52a;
}
.jks:hover {
  font-size: 0.9rem;
  color: #f7c52a;
  cursor: pointer;
}
.st {
  display: flex;
  flex-direction: row;
}

.errors {
  width: 100%;
  padding: 7px;
  background-color: red;
  color: white;
}

.forms {
  margin-top: 2rem;
}
.names {
  margin-top: 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.Ko {
  display: grid;
  grid-template-areas: 'left right center';
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.choosefile {
  font-size: 20px;
}
.choosefiles {
  font-size: 20px;
}
.UT label {
  margin: 3px;
  text-align: center;
  font-size: 18px;
}
.ft {
  margin-top: 0px;
}
.formss {
  margin-top: 0rem;
  height: 200px;
}
.cardHeader {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}
.cardHeaders {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -2rem;
  left: -0.75rem;
}
.cardHeaderss {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 400px;
  margin-top: 70px;
}
.cardHeaderx {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 400px;
  margin-top: 70px;
}

.op {
  margin-bottom: 1rem;
}
.jb {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 5px;
}
.jb:focus {
  border-bottom: 1px solid #ccc;
  border: none;
}
.playlogo {
  width: 20px;
}
.mobileView {
  width: 100%;
}
.mobFooter {
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 14px;
  flex-shrink: 0;
  height: fit-content;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 2rem 0rem;
  list-style-type: none;
}
.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1 1rem;
  list-style-type: none;
}
.nav-link li {
  padding: 2px 8px;
}
.nav-links li {
  padding: 2px 5px;
}
.mobFooter ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.ssonglist {
  background-color: black;
  position: fixed;
  transform: translateX(20rem);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  height: fit-content;
  list-style-type: none;
  z-index: 1000;
  top: 55px;
  padding: 10px;
}
.songd {
  list-style-type: none;
  padding: 5px;
}
.songd li {
  align-items: center;
}
.songd li:hover {
  color: goldenrod;
  cursor: pointer;
}
.mobFooter ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobileView {
  height: 88.8vh;
  display: flex;
  flex-direction: column;
  background-image: url('./Images/7ec111864f7539dce5362ccf235b61a4--app-logo-app-icon-logo.jpg');
}
.all-music {
  height: 400px;
  margin: 20px;
  padding: 7px;
  overflow-y: scroll;
}
.content {
  flex: 1 0 auto;
}
.songs {
  color: white;
  border-radius: 10px;
  font-size: 14px;
  background-color: #173e43;
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.time {
  margin: 10px;
}
.dur {
  margin-left: 180px;
}
.tyui {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 2px;
  justify-content: space-around;
}
.progressBar {
  margin: 10px;
  width: 80%;
  background-color: yellow;
}
.mobileHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 3px 3px 10px #888;
}
.playbutton {
  width: 35px;
}
.controls {
  align-items: center;
  text-align: center;
}
.playSong {
  background-image: url('./Images/wall.jpg');
  height: 81vh;
}
.controlss {
  width: 90%;
  margin-left: 25px;
}
.songplaying {
  text-align: center;
  color: black;
}
.social {
  width: 25px;
  margin: 10px;
}
.me {
  margin-top: 10px;
  width: 80px;
  border-radius: 60px;
}
.aboutContent {
  display: flex;
  flex-direction: column;
}
.ab {
  height: 81vh;
}
.follow {
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 14px;
}
.follow ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.follow ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aui {
  padding: 10px;
  align-items: center;
  text-align: center;
}
.foo {
  font-weight: bolder;
}
.propro {
  padding: 10px;
}
.icon {
  width: 150px;
}
.viewAcc {
  text-align: center;
  height: 80vh;
}
.M-whole {
  background-image: url('./Images/background.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.c {
  background-image: url('./Images/black-background-costume-dark-mode.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.M-wholes {
  background-image: url('./Images/background.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.plm {
  margin: 10px;
}
.not {
  height: 95vh;
  color: whitesmoke;
  background-color: rgb(34, 31, 31);
}
.Mplay {
  grid-area: 'left';
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  height: 550px;
}

.MachineHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 3px 3px 10px #888;
  /* background: linear-gradient(to right, rgb(224, 226, 208), #9c957f); */
  position: sticky;
  text-transform: uppercase;
}

.M-allSos {
  display: flex;
  text-align: center;
  color: whitesmoke;
  padding: 10px;
  margin: 20px;
  overflow-y: auto;
}
.mmm {
  flex-direction: column;
  margin: 2px;
}
.mmm ul li {
  list-style-type: none;
}
.wse {
  background-color: rgb(34, 31, 31);
  height: 100vh;
}
.M-songs {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: darkolivegreen;
}
.M-songss {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: black;
  width: 50%;
  margin-left: 297px;
  align-items: center;
  text-align: center;
}
.M-song {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: darkgoldenrod;
  color: darkolivegreen;
}
.M-song ul {
  list-style-type: none;
}
.M-songs ul {
  list-style-type: none;
}

.Mfooter {
  position: relative;
  text-align: center;
  padding: 7px;
  bottom: 0;
  color: white;
  background-color: darkgoldenrod;
}
.Mlogo {
  width: 190px;
  height: 190px;
}

.Mplaying {
  text-align: center;
}
.Mss {
  margin-top: -190px;
}
.Micons {
  width: 200px;
  margin-left: 10px;
}
.Micon {
  width: 50px;
  border-radius: 30px;
}
.sce {
  color: white;
  padding: 10px;
  text-align: center;
}
.Mty {
  background-image: url('./Images/background.jpg');
  height: 100vh;
  width: 100%;
}
.back:hover {
  cursor: pointer;
}
.iu:hover {
  cursor: pointer;
  border-bottom: 1px solid gold;
}
.songPlaying ul li:hover {
  cursor: pointer;
}

.abi {
  height: 93vh;
  color: black;
}
.bbb p:hover {
  cursor: pointer;
  color: gold;
}

@media only screen and (max-width: 480px) {
  .homePage {
    width: 80%;
    margin: 5px;
  }
  .jb {
    width: 100%;
    margin: 2px;
  }
  .c {
    height: 100vh;
    background-attachment: fixed;
    background-size: contain;
  }
  .splash {
    height: 100vh;
    background-attachment: fixed;
    background-size: contain;
  }
  .M-whole {
    height: 100vh;
    width: 100%;
  }
  .MachineHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav-links {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .werty {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .Mabout {
    transform: translate(2%, 20%);
    margin-left: 0%;
    margin-top: 0%;
    margin: 20px;
    width: 100%;
  }
  .Mabouts {
    transform: translate(2%, 20%);
    margin-left: 0%;
    margin-top: 0%;
    margin: 20px;
    width: 100%;
  }
  .ko {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  .Mty {
    width: 100%;
    height: 100%;
  }
  .homePages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2px;
    margin-left: 0px;
    text-align: center;
    transform: none;
  }
  .kojt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 360px;
    margin-top: 5px;
    transform: skewY(4deg);
  }
  .qw {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .qwe {
    width: 100%;
  }
  .nav-link {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-link li {
    margin: auto;
    padding: auto;
  }
  .ssonglist {
    transform: translateX(0.1rem);
    width: 250px;
    margin-top: 20px;
  }
  .M-wholes {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: contain;
  }
  .plm {
    width: 100%;
    margin: 0%;
    padding: 2px;
  }
  .Mplay {
    margin: 5px;
  }
  .M-songss {
    margin-left: 0%;
    width: 100%;
  }
  .controlss {
    margin-left: 0%;
    width: 100%;
  }
  .erw {
    margin-left: 210px;
    top: -25px;
    position: relative;
  }
  .ty {
    margin-left: -25px;
    position: relative;
  }
  .progressBar {
    margin-top: 40px;
    margin-left: 3px;
  }
  .Micons {
    margin-left: 1px;
  }
  .Miconst {
    margin-left: 1px;
    width: 90px;
  }
}

.popy:hover {
  cursor: pointer;
}
.Miconst {
  margin-left: 50px;
  width: 140px;
}
.abuy {
  text-transform: none;
  background-color: #f72a34;
  padding: 5px;
  transform: skewY(-7deg);
}
.abuy:hover {
  cursor: pointer;
}
.opqw {
  margin-top: 30px;
  font-size: 20px;
  border-bottom: 1px solid #f7c52a;
  background-color: #f7c52a;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
}
.opqw:hover {
  cursor: pointer;
}
.cardHeaderui {
  background: #f72a34;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  color: white;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}
